.innerNews__container{
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  border: 1px solid red;
}
.innerNews__wrapper{
  padding-top: 2.1875rem;
  width: 58%;
}
.innerNews__text{
  font-family: var(--font-regular);
  color: var(--color-crumbs);
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0.06em;
}
.innerNews__wrap{
  margin-bottom: 4.875rem;
}

.innerNews__box{
  display: flex;
  flex-direction: column;
}
.innerNews__underline{
  margin-bottom: 1.25rem;
}