.innerNews__container{
  display: flex;
  justify-content: space-between;
  max-width: 1640px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.innerNews__wrapper{
  padding-top: 2.1875rem;
  padding: 0 0.625rem;
  width: 100%;
}
.innerNews__text{
  font-family: var(--font-regular);
  color: var(--color-crumbs);
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0.06em;
}
.innerNews__wrap{
  margin-bottom: 4.875rem;
}

.innerNews__box{
  display: flex;
  flex-direction: column;
  padding: 0 0.3125rem;
}
.innerNews__underline{
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 700px){
  .innerNews__columns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px){
  .innerNews__wrapper{
    flex: 1 1 45%;
    flex-wrap: nowrap;
  }
  .innerNews__box{
    flex: 1 1 10%;
  }
  .innerNews__columns{
    flex-direction: column;
  }
  .innerNews__box{
    padding-left: 2.5rem;
  }
}
@media screen and (min-width: 1620px){
  .innerNews__wrapper{
    flex: 1 1 58%;
    padding: 0;
    padding-top: 2.1875rem;
  }
  .innerNews__box{
    flex: 1 1 20%;
  }
  .innerNews__container{
    padding: 0 1.25rem;
  }
  .innerNews__columns{
    display: unset;
  }
  
}