.comments{
  padding-top: 9.3125rem;
  background: var(--color-back);
}
.comments__container{
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}