.footer{
  background: var(--color-back);
  padding: 50px 0;
}
.footer__container{
  max-width: 1640px;
  padding: 0 5px;
  margin: 0 auto;
}
.footer__columns{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 4.375rem;
}
.footer__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 85%;
}
@media screen and (min-width: 568px){
  .footer__item{
    flex: 1 1 40%;
    align-items: center;
  }
}
@media screen and (min-width: 728px){
  .footer__container{
    padding: 0 20px;
  }
}
@media screen and (min-width: 828px){
  .footer__item{
    flex: 1 1 20%;
    align-items: flex-start;
  }
  
}
.footer__title{
  font-family: var(--font-medium);
  font-size: 1.5rem;
  color: var(--color-second);
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
}
.footer__text{
  font-family: var(--font-regular);
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: 2px;
  color: #26323880;
  margin-bottom: 0.625rem;
}