.footer{
  background: var(--color-back);
}
.footer__container{
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 50px;
}
.footer__columns{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 70px;
}
.footer__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 85%;
}
@media screen and (min-width: 568px){
  .footer__item{
    flex: 1 1 40%;
    align-items: center;
  }
}
@media screen and (min-width: 828px){
  .footer__item{
    flex: 1 1 20%;
    align-items: flex-start;
  }
}
.footer__title{
  font-family: var(--font-medium);
  font-size: 24px;
  color: var(--color-second);
  line-height: 28px;
  margin-bottom: 20px;
}
.footer__text{
  font-family: var(--font-regular);
  font-size: 18px;
  line-height: 21px;
  color: #26323880;
  margin-bottom: 10px;
}