.news{
  padding-top: 2.25rem;
  margin-bottom: 6.25rem;
}
.news__container{
  max-width: 1640px;
  margin: 0 auto;
}
.news__wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3.4375rem;
}
.news__columns{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4.375rem;
}
.news__wrap{
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 928px){
  .news__columns{
    flex-wrap: nowrap;
  }
  .news__container{
    padding: 0 1.25rem;
  }
}
@media screen and (min-width: 1036px){
  .news__columns{
    /* justify-content: space-between; */
    padding: 0;
  }
}